/* ---------------------------------    MENU HAMBURGUESA    ------------------------- */

#menu-toggle,
.menu-label {
  display: none;
}

@media (max-width: 992px) {
  .navbar-list {
    position: absolute;
    top: 65px;
    left: 5%;
    right: 5%;
    width: 90%;
    flex-direction: column;
    background: gray;
    border: 2px solid black;
    border-top: 0px;
    border-radius: 0px 0px 15px 15px;
    align-items: flex-start;
    padding: 45px 30px;
    gap: 25px;
    z-index: 2;
    display: none;
  }
  .navbar-list a {
    font-size: 18px;
  }
  .menu-label {
    display: flex;
    cursor: pointer;
    order: 2;
  }
  .menu-label img {
    height: 40px;
    width: 40px;
  }
  #menu-toggle:checked + .navbar-list {
    display: flex;
  }
  .menu-icon {
    margin-right: 15px;
    height: 45px;
  }

  /* Borde Carrito */
  .card-icon {
    height: 40px;
  }
}
