/* ---------------------------------    MENU HAMBURGUESA    ------------------------- */

#menu-toggle,
.menu-label {
  display: none;
}

@media (max-width: 992px) {
  .navbar-list {
    position: absolute;
    top: 75px;
    left: 5%;
    right: 5%;
    width: 90%;
    flex-direction: column;
    background-image: linear-gradient(
      to bottom,
      rgb(235, 226, 226),
      rgb(161, 161, 161)
    );
    border: 2px solid var(--color3);
    border-top: 0px;
    border-radius: 0px 0px 15px 15px;
    align-items: flex-start;
    padding: 45px 30px;
    gap: 25px;
    z-index: 2;
    display: none;
  }
  .navbar-list a {
    font-size: 18px;
    font-weight: 800;
  }
  .menu-label {
    display: flex;
    cursor: pointer;
    order: 2;
  }
  .menu-label img {
    height: 40px;
    width: 40px;
  }
  #menu-toggle:checked + .navbar-list {
    display: flex;
  }
  .menu-icon {
    margin-right: 15px;
    font-size: 26px;
    cursor: pointer;
  }

  /* Borde Carrito */
  .card-icon {
    height: 40px;
  }
}
